SILPA.WebHost/App_WebReferences/PruebaServicio/WSIMP01.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AdicionarProcesoImpresionFus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idProceso" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdicionarProcesoImpresionFusResponse">
        <s:complexType />
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AdicionarProcesoImpresionFusSoapIn">
    <wsdl:part name="parameters" element="tns:AdicionarProcesoImpresionFus" />
  </wsdl:message>
  <wsdl:message name="AdicionarProcesoImpresionFusSoapOut">
    <wsdl:part name="parameters" element="tns:AdicionarProcesoImpresionFusResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="AdicionarProcesoImpresionFusHttpGetIn">
    <wsdl:part name="idProceso" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AdicionarProcesoImpresionFusHttpGetOut" />
  <wsdl:message name="TestHttpGetIn" />
  <wsdl:message name="TestHttpGetOut" />
  <wsdl:message name="AdicionarProcesoImpresionFusHttpPostIn">
    <wsdl:part name="idProceso" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AdicionarProcesoImpresionFusHttpPostOut" />
  <wsdl:message name="TestHttpPostIn" />
  <wsdl:message name="TestHttpPostOut" />
  <wsdl:portType name="WSIMP01Soap">
    <wsdl:operation name="AdicionarProcesoImpresionFus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Agrega el Id del proceso para su impresion fisica en alguno ubicacion del servidor de aplicaciones o archivos]</wsdl:documentation>
      <wsdl:input message="tns:AdicionarProcesoImpresionFusSoapIn" />
      <wsdl:output message="tns:AdicionarProcesoImpresionFusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSIMP01HttpGet">
    <wsdl:operation name="AdicionarProcesoImpresionFus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Agrega el Id del proceso para su impresion fisica en alguno ubicacion del servidor de aplicaciones o archivos]</wsdl:documentation>
      <wsdl:input message="tns:AdicionarProcesoImpresionFusHttpGetIn" />
      <wsdl:output message="tns:AdicionarProcesoImpresionFusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestHttpGetIn" />
      <wsdl:output message="tns:TestHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSIMP01HttpPost">
    <wsdl:operation name="AdicionarProcesoImpresionFus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Agrega el Id del proceso para su impresion fisica en alguno ubicacion del servidor de aplicaciones o archivos]</wsdl:documentation>
      <wsdl:input message="tns:AdicionarProcesoImpresionFusHttpPostIn" />
      <wsdl:output message="tns:AdicionarProcesoImpresionFusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestHttpPostIn" />
      <wsdl:output message="tns:TestHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSIMP01Soap" type="tns:WSIMP01Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdicionarProcesoImpresionFus">
      <soap:operation soapAction="http://tempuri.org/AdicionarProcesoImpresionFus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSIMP01Soap12" type="tns:WSIMP01Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdicionarProcesoImpresionFus">
      <soap12:operation soapAction="http://tempuri.org/AdicionarProcesoImpresionFus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSIMP01HttpGet" type="tns:WSIMP01HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AdicionarProcesoImpresionFus">
      <http:operation location="/AdicionarProcesoImpresionFus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSIMP01HttpPost" type="tns:WSIMP01HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AdicionarProcesoImpresionFus">
      <http:operation location="/AdicionarProcesoImpresionFus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSIMP01">
    <wsdl:port name="WSIMP01Soap" binding="tns:WSIMP01Soap">
      <soap:address location="http://160.160.160.25:8182/WSIMP01.asmx" />
    </wsdl:port>
    <wsdl:port name="WSIMP01Soap12" binding="tns:WSIMP01Soap12">
      <soap12:address location="http://160.160.160.25:8182/WSIMP01.asmx" />
    </wsdl:port>
    <wsdl:port name="WSIMP01HttpGet" binding="tns:WSIMP01HttpGet">
      <http:address location="http://160.160.160.25:8182/WSIMP01.asmx" />
    </wsdl:port>
    <wsdl:port name="WSIMP01HttpPost" binding="tns:WSIMP01HttpPost">
      <http:address location="http://160.160.160.25:8182/WSIMP01.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>