SilpaServiciosWeb/Esquemas/ConstulaEstadoNotificacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ConstulaEstadoNotificacion" targetNamespace="http://tempuri.org/ConstulaEstadoNotificacion.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/ConstulaEstadoNotificacion.xsd" xmlns:mstns="http://tempuri.org/ConstulaEstadoNotificacion.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NotificacionConsultaType">
    <xs:sequence>
      <xs:element name="numProcesoAdministracion" type="xs:string" />
      <xs:element name="numActoAdministrativoNotificacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Consulta" type="NotificacionConsultaType">
  </xs:element>
</xs:schema>