SilpaServiciosWeb/Esquemas/DatosHomologacionEntity.xsd

<?xml version="1.0" encoding="utf-8" ?> 
<xs:schema id="DatosHomologacionEntity" 
                  targetNamespace="http://tempuri.org/DatosHomologacionEntity.xsd"
                  elementFormDefault="qualified"
                  xmlns="http://tempuri.org/DatosHomologacionEntity.xsd"
                  xmlns:mstns="http://tempuri.org/DatosHomologacionEntity.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">  
  <xs:element name="DatosHomologacionEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="nombre" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
