SilpaServiciosWeb/Esquemas/TipoUsuario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="TipoUsuario" targetNamespace="http://tempuri.org/TipoUsuario.xsd"  elementFormDefault="qualified" xmlns="http://tempuri.org/TipoUsuario.xsd" xmlns:mstns="http://tempuri.org/TipoUsuario.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CredTipoUsuario">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IdPersona" type="xs:string" />
				<xs:element name="IdTipoUsuario" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>