SILPA.WebHost/App_WebReferences/WSPQ03/WSPQ03.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecibirActoAdministrativoEIA-01">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documentoXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecibirActoAdministrativoEIA-01Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecibirActoAdministrativoEIA-01Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SolicitudXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numeroVital" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SolicitudXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SolicitudXmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstructuraFormularioXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numeroVital" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstructuraFormularioXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstructuraFormularioXmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EjecutoriarActo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EjecutoriarActoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EjecutoriarActoResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="respuesta" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmitirDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmitirDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmitirDocumentoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDatosAdjuntos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXmlDatos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDatosAdjuntosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDatosAdjuntosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarDatosRadicacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXmlDatos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarDatosRadicacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarDatosRadicacionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarRelacionExpedientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="expedienteId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expedienteIdRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroVital" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarRelacionExpedientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarRelacionExpedientesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarRelacionExpedientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="expedienteId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expedienteIdRef" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarRelacionExpedientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarRelacionExpedientesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearDatoMisTramites">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strParametrosXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearDatoMisTramitesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CrearDatoMisTramitesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AsociarExpedienteNumeroSilpa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="autoridadId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroExpediente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoAsociacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numerosSilpa" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AsociarExpedienteNumeroSilpaResponse">
        <s:complexType />
      </s:element>
      <s:element name="AsociarInfoExpedienteNumeroSilpa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoExpediente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroVital" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreExpediente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionExpediente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sectorId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ubicacionExpediente" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="localizacionExpediente" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AsociarInfoExpedienteNumeroSilpaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ActivatExpedienteNumeroSilpa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="autoridadId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroExpediente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivatExpedienteNumeroSilpaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerDocumentosRadicacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idRadicacion" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDocumentosRadicacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDocumentosRadicacionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDocumentosNUR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strNUR" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDocumentosNURResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDocumentosNURResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDocumentoRadicacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idRadicacion" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreArchivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDocumentoRadicacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDocumentoRadicacionResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPathRadicacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idRadicacion" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreArchivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPathRadicacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerPathRadicacionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPathCorrespondencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NUR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreArchivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPathCorrespondenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerPathCorrespondenciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarDocumentoRadicacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idRadicacion" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreArchivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytesArchivo" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarDocumentoRadicacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarDocumentoRadicacionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarDocumentoRadicacionAlterno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idRadicacion" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreArchivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarDocumentoRadicacionAlternoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarDocumentoRadicacionAlternoResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaArchivos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarDocumentoCorrespondencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NUR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreArchivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCarpetaNURs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarDocumentoCorrespondenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarDocumentoCorrespondenciaResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaArchivos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecibirActoAdministrativoEIA-01SoapIn">
    <wsdl:part name="parameters" element="tns:RecibirActoAdministrativoEIA-01" />
  </wsdl:message>
  <wsdl:message name="RecibirActoAdministrativoEIA-01SoapOut">
    <wsdl:part name="parameters" element="tns:RecibirActoAdministrativoEIA-01Response" />
  </wsdl:message>
  <wsdl:message name="SolicitudXmlSoapIn">
    <wsdl:part name="parameters" element="tns:SolicitudXml" />
  </wsdl:message>
  <wsdl:message name="SolicitudXmlSoapOut">
    <wsdl:part name="parameters" element="tns:SolicitudXmlResponse" />
  </wsdl:message>
  <wsdl:message name="EstructuraFormularioXmlSoapIn">
    <wsdl:part name="parameters" element="tns:EstructuraFormularioXml" />
  </wsdl:message>
  <wsdl:message name="EstructuraFormularioXmlSoapOut">
    <wsdl:part name="parameters" element="tns:EstructuraFormularioXmlResponse" />
  </wsdl:message>
  <wsdl:message name="EjecutoriarActoSoapIn">
    <wsdl:part name="parameters" element="tns:EjecutoriarActo" />
  </wsdl:message>
  <wsdl:message name="EjecutoriarActoSoapOut">
    <wsdl:part name="parameters" element="tns:EjecutoriarActoResponse" />
  </wsdl:message>
  <wsdl:message name="EmitirDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:EmitirDocumento" />
  </wsdl:message>
  <wsdl:message name="EmitirDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:EmitirDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosAdjuntosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDatosAdjuntos" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosAdjuntosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDatosAdjuntosResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarDatosRadicacionSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarDatosRadicacion" />
  </wsdl:message>
  <wsdl:message name="EnviarDatosRadicacionSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarDatosRadicacionResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarRelacionExpedientesSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarRelacionExpedientes" />
  </wsdl:message>
  <wsdl:message name="InsertarRelacionExpedientesSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarRelacionExpedientesResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarRelacionExpedientesSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarRelacionExpedientes" />
  </wsdl:message>
  <wsdl:message name="EliminarRelacionExpedientesSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarRelacionExpedientesResponse" />
  </wsdl:message>
  <wsdl:message name="CrearDatoMisTramitesSoapIn">
    <wsdl:part name="parameters" element="tns:CrearDatoMisTramites" />
  </wsdl:message>
  <wsdl:message name="CrearDatoMisTramitesSoapOut">
    <wsdl:part name="parameters" element="tns:CrearDatoMisTramitesResponse" />
  </wsdl:message>
  <wsdl:message name="AsociarExpedienteNumeroSilpaSoapIn">
    <wsdl:part name="parameters" element="tns:AsociarExpedienteNumeroSilpa" />
  </wsdl:message>
  <wsdl:message name="AsociarExpedienteNumeroSilpaSoapOut">
    <wsdl:part name="parameters" element="tns:AsociarExpedienteNumeroSilpaResponse" />
  </wsdl:message>
  <wsdl:message name="AsociarInfoExpedienteNumeroSilpaSoapIn">
    <wsdl:part name="parameters" element="tns:AsociarInfoExpedienteNumeroSilpa" />
  </wsdl:message>
  <wsdl:message name="AsociarInfoExpedienteNumeroSilpaSoapOut">
    <wsdl:part name="parameters" element="tns:AsociarInfoExpedienteNumeroSilpaResponse" />
  </wsdl:message>
  <wsdl:message name="ActivatExpedienteNumeroSilpaSoapIn">
    <wsdl:part name="parameters" element="tns:ActivatExpedienteNumeroSilpa" />
  </wsdl:message>
  <wsdl:message name="ActivatExpedienteNumeroSilpaSoapOut">
    <wsdl:part name="parameters" element="tns:ActivatExpedienteNumeroSilpaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerDocumentosRadicacionSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentosRadicacion" />
  </wsdl:message>
  <wsdl:message name="ObtenerDocumentosRadicacionSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentosRadicacionResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerDocumentosNURSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentosNUR" />
  </wsdl:message>
  <wsdl:message name="ObtenerDocumentosNURSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentosNURResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerDocumentoRadicacionSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentoRadicacion" />
  </wsdl:message>
  <wsdl:message name="ObtenerDocumentoRadicacionSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentoRadicacionResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerPathRadicacionSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPathRadicacion" />
  </wsdl:message>
  <wsdl:message name="ObtenerPathRadicacionSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPathRadicacionResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerPathCorrespondenciaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPathCorrespondencia" />
  </wsdl:message>
  <wsdl:message name="ObtenerPathCorrespondenciaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPathCorrespondenciaResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarDocumentoRadicacionSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarDocumentoRadicacion" />
  </wsdl:message>
  <wsdl:message name="EnviarDocumentoRadicacionSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarDocumentoRadicacionResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarDocumentoRadicacionAlternoSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarDocumentoRadicacionAlterno" />
  </wsdl:message>
  <wsdl:message name="EnviarDocumentoRadicacionAlternoSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarDocumentoRadicacionAlternoResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarDocumentoCorrespondenciaSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarDocumentoCorrespondencia" />
  </wsdl:message>
  <wsdl:message name="EnviarDocumentoCorrespondenciaSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarDocumentoCorrespondenciaResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="RecibirActoAdministrativoEIA-01HttpGetIn">
    <wsdl:part name="documentoXML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RecibirActoAdministrativoEIA-01HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SolicitudXmlHttpGetIn">
    <wsdl:part name="numeroVital" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SolicitudXmlHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EstructuraFormularioXmlHttpGetIn">
    <wsdl:part name="numeroVital" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EstructuraFormularioXmlHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EmitirDocumentoHttpGetIn">
    <wsdl:part name="documento" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EmitirDocumentoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosAdjuntosHttpGetIn">
    <wsdl:part name="strXmlDatos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosAdjuntosHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EnviarDatosRadicacionHttpGetIn">
    <wsdl:part name="strXmlDatos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnviarDatosRadicacionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertarRelacionExpedientesHttpGetIn">
    <wsdl:part name="expedienteId" type="s:string" />
    <wsdl:part name="expedienteIdRef" type="s:string" />
    <wsdl:part name="numeroVital" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarRelacionExpedientesHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="EliminarRelacionExpedientesHttpGetIn">
    <wsdl:part name="expedienteId" type="s:string" />
    <wsdl:part name="expedienteIdRef" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EliminarRelacionExpedientesHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="CrearDatoMisTramitesHttpGetIn">
    <wsdl:part name="strParametrosXml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CrearDatoMisTramitesHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ActivatExpedienteNumeroSilpaHttpGetIn">
    <wsdl:part name="autoridadId" type="s:string" />
    <wsdl:part name="numeroExpediente" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActivatExpedienteNumeroSilpaHttpGetOut" />
  <wsdl:message name="ObtenerDocumentosRadicacionHttpGetIn">
    <wsdl:part name="idRadicacion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDocumentosRadicacionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDocumentosNURHttpGetIn">
    <wsdl:part name="strNUR" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDocumentosNURHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDocumentoRadicacionHttpGetIn">
    <wsdl:part name="idRadicacion" type="s:string" />
    <wsdl:part name="nombreArchivo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDocumentoRadicacionHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="ObtenerPathRadicacionHttpGetIn">
    <wsdl:part name="idRadicacion" type="s:string" />
    <wsdl:part name="nombreArchivo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerPathRadicacionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerPathCorrespondenciaHttpGetIn">
    <wsdl:part name="NUR" type="s:string" />
    <wsdl:part name="nombreArchivo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerPathCorrespondenciaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EnviarDocumentoRadicacionHttpGetIn">
    <wsdl:part name="idRadicacion" type="s:string" />
    <wsdl:part name="nombreArchivo" type="s:string" />
    <wsdl:part name="bytesArchivo" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="EnviarDocumentoRadicacionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TestHttpGetIn" />
  <wsdl:message name="TestHttpGetOut" />
  <wsdl:message name="RecibirActoAdministrativoEIA-01HttpPostIn">
    <wsdl:part name="documentoXML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RecibirActoAdministrativoEIA-01HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SolicitudXmlHttpPostIn">
    <wsdl:part name="numeroVital" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SolicitudXmlHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EstructuraFormularioXmlHttpPostIn">
    <wsdl:part name="numeroVital" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EstructuraFormularioXmlHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EmitirDocumentoHttpPostIn">
    <wsdl:part name="documento" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EmitirDocumentoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosAdjuntosHttpPostIn">
    <wsdl:part name="strXmlDatos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosAdjuntosHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EnviarDatosRadicacionHttpPostIn">
    <wsdl:part name="strXmlDatos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnviarDatosRadicacionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertarRelacionExpedientesHttpPostIn">
    <wsdl:part name="expedienteId" type="s:string" />
    <wsdl:part name="expedienteIdRef" type="s:string" />
    <wsdl:part name="numeroVital" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertarRelacionExpedientesHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="EliminarRelacionExpedientesHttpPostIn">
    <wsdl:part name="expedienteId" type="s:string" />
    <wsdl:part name="expedienteIdRef" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EliminarRelacionExpedientesHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="CrearDatoMisTramitesHttpPostIn">
    <wsdl:part name="strParametrosXml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CrearDatoMisTramitesHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ActivatExpedienteNumeroSilpaHttpPostIn">
    <wsdl:part name="autoridadId" type="s:string" />
    <wsdl:part name="numeroExpediente" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActivatExpedienteNumeroSilpaHttpPostOut" />
  <wsdl:message name="ObtenerDocumentosRadicacionHttpPostIn">
    <wsdl:part name="idRadicacion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDocumentosRadicacionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDocumentosNURHttpPostIn">
    <wsdl:part name="strNUR" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDocumentosNURHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDocumentoRadicacionHttpPostIn">
    <wsdl:part name="idRadicacion" type="s:string" />
    <wsdl:part name="nombreArchivo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDocumentoRadicacionHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="ObtenerPathRadicacionHttpPostIn">
    <wsdl:part name="idRadicacion" type="s:string" />
    <wsdl:part name="nombreArchivo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerPathRadicacionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerPathCorrespondenciaHttpPostIn">
    <wsdl:part name="NUR" type="s:string" />
    <wsdl:part name="nombreArchivo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerPathCorrespondenciaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EnviarDocumentoRadicacionHttpPostIn">
    <wsdl:part name="idRadicacion" type="s:string" />
    <wsdl:part name="nombreArchivo" type="s:string" />
    <wsdl:part name="bytesArchivo" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="EnviarDocumentoRadicacionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TestHttpPostIn" />
  <wsdl:message name="TestHttpPostOut" />
  <wsdl:portType name="WSPQ03Soap">
    <wsdl:operation name="RecibirDocumento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Recibe los datos del Documento (Acto Administrativo u Oficio) de la Autoridad Ambiental para ser expuestos o emitidos según corresponda ]</wsdl:documentation>
      <wsdl:input name="RecibirActoAdministrativoEIA-01" message="tns:RecibirActoAdministrativoEIA-01SoapIn" />
      <wsdl:output name="RecibirActoAdministrativoEIA-01" message="tns:RecibirActoAdministrativoEIA-01SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SolicitudXml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Devuelve la informacion en xml de una solicitud]</wsdl:documentation>
      <wsdl:input message="tns:SolicitudXmlSoapIn" />
      <wsdl:output message="tns:SolicitudXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EstructuraFormularioXml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Estructura individual de formularios diligenciados por los ciudadanos]</wsdl:documentation>
      <wsdl:input message="tns:EstructuraFormularioXmlSoapIn" />
      <wsdl:output message="tns:EstructuraFormularioXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EjecutoriarActo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Consume un servicio del sistema de notificación en línea por medio de PDI para entregar los datos para el ejecutoriar el acto administrativo de un proceso de notificación]</wsdl:documentation>
      <wsdl:input message="tns:EjecutoriarActoSoapIn" />
      <wsdl:output message="tns:EjecutoriarActoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmitirDocumento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Consume un servicio del sistema de notificación en línea por medio de PDI para entregar los datos para el proceso de notificación de un Acto Administrativo]</wsdl:documentation>
      <wsdl:input message="tns:EmitirDocumentoSoapIn" />
      <wsdl:output message="tns:EmitirDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosAdjuntos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Expone la información y datos enviados por el solicitante, tercero interviniente o quejoso para que la AA correspondiente los consuma]</wsdl:documentation>
      <wsdl:input message="tns:ObtenerDatosAdjuntosSoapIn" />
      <wsdl:output message="tns:ObtenerDatosAdjuntosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosRadicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[La Autoridad Ambiental Envía la informacion del numero y fecha de radicación para una solicitud o Documento ]</wsdl:documentation>
      <wsdl:input message="tns:EnviarDatosRadicacionSoapIn" />
      <wsdl:output message="tns:EnviarDatosRadicacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarRelacionExpedientes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Al Asociar un expediente con otro en el sistema el registro se guarda en SILPA para ser utilizado en los reportes de mis tramites]</wsdl:documentation>
      <wsdl:input message="tns:InsertarRelacionExpedientesSoapIn" />
      <wsdl:output message="tns:InsertarRelacionExpedientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarRelacionExpedientes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Al Eliminar un expediente asociado con otro en el sistema el registro se Elimina en SILPA para ser utilizado en los reportes de mis tramites]</wsdl:documentation>
      <wsdl:input message="tns:EliminarRelacionExpedientesSoapIn" />
      <wsdl:output message="tns:EliminarRelacionExpedientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearDatoMisTramites">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Al Finalizar una actividad se crean crean datos necesarios para la consulta de Mis tramites]</wsdl:documentation>
      <wsdl:input message="tns:CrearDatoMisTramitesSoapIn" />
      <wsdl:output message="tns:CrearDatoMisTramitesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AsociarExpedienteNumeroSilpa">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Asociar Expediente y numero silpa]</wsdl:documentation>
      <wsdl:input message="tns:AsociarExpedienteNumeroSilpaSoapIn" />
      <wsdl:output message="tns:AsociarExpedienteNumeroSilpaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AsociarInfoExpedienteNumeroSilpa">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Asociar Info Expediente a un numero silpa]</wsdl:documentation>
      <wsdl:input message="tns:AsociarInfoExpedienteNumeroSilpaSoapIn" />
      <wsdl:output message="tns:AsociarInfoExpedienteNumeroSilpaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivatExpedienteNumeroSilpa">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Activar Expediente y numero silpa]</wsdl:documentation>
      <wsdl:input message="tns:ActivatExpedienteNumeroSilpaSoapIn" />
      <wsdl:output message="tns:ActivatExpedienteNumeroSilpaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosRadicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene los documentos de la radicación]</wsdl:documentation>
      <wsdl:input message="tns:ObtenerDocumentosRadicacionSoapIn" />
      <wsdl:output message="tns:ObtenerDocumentosRadicacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosNUR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene los documentos de la radicación]</wsdl:documentation>
      <wsdl:input message="tns:ObtenerDocumentosNURSoapIn" />
      <wsdl:output message="tns:ObtenerDocumentosNURSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentoRadicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene el documento de una radicacion]</wsdl:documentation>
      <wsdl:input message="tns:ObtenerDocumentoRadicacionSoapIn" />
      <wsdl:output message="tns:ObtenerDocumentoRadicacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPathRadicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene el documento de una radicacion]</wsdl:documentation>
      <wsdl:input message="tns:ObtenerPathRadicacionSoapIn" />
      <wsdl:output message="tns:ObtenerPathRadicacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPathCorrespondencia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene el documento de una radicacion]</wsdl:documentation>
      <wsdl:input message="tns:ObtenerPathCorrespondenciaSoapIn" />
      <wsdl:output message="tns:ObtenerPathCorrespondenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarDocumentoRadicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene el documento de una radicacion]</wsdl:documentation>
      <wsdl:input message="tns:EnviarDocumentoRadicacionSoapIn" />
      <wsdl:output message="tns:EnviarDocumentoRadicacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarDocumentoRadicacionAlterno">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene la ruta de los archivos y si el archivo ya existe]</wsdl:documentation>
      <wsdl:input message="tns:EnviarDocumentoRadicacionAlternoSoapIn" />
      <wsdl:output message="tns:EnviarDocumentoRadicacionAlternoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarDocumentoCorrespondencia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene la ruta de los archivos y si el archivo ya existe]</wsdl:documentation>
      <wsdl:input message="tns:EnviarDocumentoCorrespondenciaSoapIn" />
      <wsdl:output message="tns:EnviarDocumentoCorrespondenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSPQ03HttpGet">
    <wsdl:operation name="RecibirDocumento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Recibe los datos del Documento (Acto Administrativo u Oficio) de la Autoridad Ambiental para ser expuestos o emitidos según corresponda ]</wsdl:documentation>
      <wsdl:input name="RecibirActoAdministrativoEIA-01" message="tns:RecibirActoAdministrativoEIA-01HttpGetIn" />
      <wsdl:output name="RecibirActoAdministrativoEIA-01" message="tns:RecibirActoAdministrativoEIA-01HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SolicitudXml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Devuelve la informacion en xml de una solicitud]</wsdl:documentation>
      <wsdl:input message="tns:SolicitudXmlHttpGetIn" />
      <wsdl:output message="tns:SolicitudXmlHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EstructuraFormularioXml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Estructura individual de formularios diligenciados por los ciudadanos]</wsdl:documentation>
      <wsdl:input message="tns:EstructuraFormularioXmlHttpGetIn" />
      <wsdl:output message="tns:EstructuraFormularioXmlHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EmitirDocumento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Consume un servicio del sistema de notificación en línea por medio de PDI para entregar los datos para el proceso de notificación de un Acto Administrativo]</wsdl:documentation>
      <wsdl:input message="tns:EmitirDocumentoHttpGetIn" />
      <wsdl:output message="tns:EmitirDocumentoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosAdjuntos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Expone la información y datos enviados por el solicitante, tercero interviniente o quejoso para que la AA correspondiente los consuma]</wsdl:documentation>
      <wsdl:input message="tns:ObtenerDatosAdjuntosHttpGetIn" />
      <wsdl:output message="tns:ObtenerDatosAdjuntosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosRadicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[La Autoridad Ambiental Envía la informacion del numero y fecha de radicación para una solicitud o Documento ]</wsdl:documentation>
      <wsdl:input message="tns:EnviarDatosRadicacionHttpGetIn" />
      <wsdl:output message="tns:EnviarDatosRadicacionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarRelacionExpedientes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Al Asociar un expediente con otro en el sistema el registro se guarda en SILPA para ser utilizado en los reportes de mis tramites]</wsdl:documentation>
      <wsdl:input message="tns:InsertarRelacionExpedientesHttpGetIn" />
      <wsdl:output message="tns:InsertarRelacionExpedientesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarRelacionExpedientes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Al Eliminar un expediente asociado con otro en el sistema el registro se Elimina en SILPA para ser utilizado en los reportes de mis tramites]</wsdl:documentation>
      <wsdl:input message="tns:EliminarRelacionExpedientesHttpGetIn" />
      <wsdl:output message="tns:EliminarRelacionExpedientesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearDatoMisTramites">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Al Finalizar una actividad se crean crean datos necesarios para la consulta de Mis tramites]</wsdl:documentation>
      <wsdl:input message="tns:CrearDatoMisTramitesHttpGetIn" />
      <wsdl:output message="tns:CrearDatoMisTramitesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivatExpedienteNumeroSilpa">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Activar Expediente y numero silpa]</wsdl:documentation>
      <wsdl:input message="tns:ActivatExpedienteNumeroSilpaHttpGetIn" />
      <wsdl:output message="tns:ActivatExpedienteNumeroSilpaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosRadicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene los documentos de la radicación]</wsdl:documentation>
      <wsdl:input message="tns:ObtenerDocumentosRadicacionHttpGetIn" />
      <wsdl:output message="tns:ObtenerDocumentosRadicacionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosNUR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene los documentos de la radicación]</wsdl:documentation>
      <wsdl:input message="tns:ObtenerDocumentosNURHttpGetIn" />
      <wsdl:output message="tns:ObtenerDocumentosNURHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentoRadicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene el documento de una radicacion]</wsdl:documentation>
      <wsdl:input message="tns:ObtenerDocumentoRadicacionHttpGetIn" />
      <wsdl:output message="tns:ObtenerDocumentoRadicacionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPathRadicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene el documento de una radicacion]</wsdl:documentation>
      <wsdl:input message="tns:ObtenerPathRadicacionHttpGetIn" />
      <wsdl:output message="tns:ObtenerPathRadicacionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPathCorrespondencia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene el documento de una radicacion]</wsdl:documentation>
      <wsdl:input message="tns:ObtenerPathCorrespondenciaHttpGetIn" />
      <wsdl:output message="tns:ObtenerPathCorrespondenciaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarDocumentoRadicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene el documento de una radicacion]</wsdl:documentation>
      <wsdl:input message="tns:EnviarDocumentoRadicacionHttpGetIn" />
      <wsdl:output message="tns:EnviarDocumentoRadicacionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestHttpGetIn" />
      <wsdl:output message="tns:TestHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSPQ03HttpPost">
    <wsdl:operation name="RecibirDocumento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Recibe los datos del Documento (Acto Administrativo u Oficio) de la Autoridad Ambiental para ser expuestos o emitidos según corresponda ]</wsdl:documentation>
      <wsdl:input name="RecibirActoAdministrativoEIA-01" message="tns:RecibirActoAdministrativoEIA-01HttpPostIn" />
      <wsdl:output name="RecibirActoAdministrativoEIA-01" message="tns:RecibirActoAdministrativoEIA-01HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SolicitudXml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Devuelve la informacion en xml de una solicitud]</wsdl:documentation>
      <wsdl:input message="tns:SolicitudXmlHttpPostIn" />
      <wsdl:output message="tns:SolicitudXmlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EstructuraFormularioXml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Estructura individual de formularios diligenciados por los ciudadanos]</wsdl:documentation>
      <wsdl:input message="tns:EstructuraFormularioXmlHttpPostIn" />
      <wsdl:output message="tns:EstructuraFormularioXmlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EmitirDocumento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Consume un servicio del sistema de notificación en línea por medio de PDI para entregar los datos para el proceso de notificación de un Acto Administrativo]</wsdl:documentation>
      <wsdl:input message="tns:EmitirDocumentoHttpPostIn" />
      <wsdl:output message="tns:EmitirDocumentoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosAdjuntos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Expone la información y datos enviados por el solicitante, tercero interviniente o quejoso para que la AA correspondiente los consuma]</wsdl:documentation>
      <wsdl:input message="tns:ObtenerDatosAdjuntosHttpPostIn" />
      <wsdl:output message="tns:ObtenerDatosAdjuntosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosRadicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[La Autoridad Ambiental Envía la informacion del numero y fecha de radicación para una solicitud o Documento ]</wsdl:documentation>
      <wsdl:input message="tns:EnviarDatosRadicacionHttpPostIn" />
      <wsdl:output message="tns:EnviarDatosRadicacionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarRelacionExpedientes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Al Asociar un expediente con otro en el sistema el registro se guarda en SILPA para ser utilizado en los reportes de mis tramites]</wsdl:documentation>
      <wsdl:input message="tns:InsertarRelacionExpedientesHttpPostIn" />
      <wsdl:output message="tns:InsertarRelacionExpedientesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarRelacionExpedientes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Al Eliminar un expediente asociado con otro en el sistema el registro se Elimina en SILPA para ser utilizado en los reportes de mis tramites]</wsdl:documentation>
      <wsdl:input message="tns:EliminarRelacionExpedientesHttpPostIn" />
      <wsdl:output message="tns:EliminarRelacionExpedientesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearDatoMisTramites">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Al Finalizar una actividad se crean crean datos necesarios para la consulta de Mis tramites]</wsdl:documentation>
      <wsdl:input message="tns:CrearDatoMisTramitesHttpPostIn" />
      <wsdl:output message="tns:CrearDatoMisTramitesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivatExpedienteNumeroSilpa">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Activar Expediente y numero silpa]</wsdl:documentation>
      <wsdl:input message="tns:ActivatExpedienteNumeroSilpaHttpPostIn" />
      <wsdl:output message="tns:ActivatExpedienteNumeroSilpaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosRadicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene los documentos de la radicación]</wsdl:documentation>
      <wsdl:input message="tns:ObtenerDocumentosRadicacionHttpPostIn" />
      <wsdl:output message="tns:ObtenerDocumentosRadicacionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosNUR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene los documentos de la radicación]</wsdl:documentation>
      <wsdl:input message="tns:ObtenerDocumentosNURHttpPostIn" />
      <wsdl:output message="tns:ObtenerDocumentosNURHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentoRadicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene el documento de una radicacion]</wsdl:documentation>
      <wsdl:input message="tns:ObtenerDocumentoRadicacionHttpPostIn" />
      <wsdl:output message="tns:ObtenerDocumentoRadicacionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPathRadicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene el documento de una radicacion]</wsdl:documentation>
      <wsdl:input message="tns:ObtenerPathRadicacionHttpPostIn" />
      <wsdl:output message="tns:ObtenerPathRadicacionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPathCorrespondencia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene el documento de una radicacion]</wsdl:documentation>
      <wsdl:input message="tns:ObtenerPathCorrespondenciaHttpPostIn" />
      <wsdl:output message="tns:ObtenerPathCorrespondenciaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarDocumentoRadicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Obtiene el documento de una radicacion]</wsdl:documentation>
      <wsdl:input message="tns:EnviarDocumentoRadicacionHttpPostIn" />
      <wsdl:output message="tns:EnviarDocumentoRadicacionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestHttpPostIn" />
      <wsdl:output message="tns:TestHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSPQ03Soap" type="tns:WSPQ03Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecibirDocumento">
      <soap:operation soapAction="http://tempuri.org/RecibirActoAdministrativoEIA-01" style="document" />
      <wsdl:input name="RecibirActoAdministrativoEIA-01">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RecibirActoAdministrativoEIA-01">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolicitudXml">
      <soap:operation soapAction="http://tempuri.org/SolicitudXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstructuraFormularioXml">
      <soap:operation soapAction="http://tempuri.org/EstructuraFormularioXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutoriarActo">
      <soap:operation soapAction="http://tempuri.org/EjecutoriarActo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmitirDocumento">
      <soap:operation soapAction="http://tempuri.org/EmitirDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosAdjuntos">
      <soap:operation soapAction="http://tempuri.org/ObtenerDatosAdjuntos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosRadicacion">
      <soap:operation soapAction="http://tempuri.org/EnviarDatosRadicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarRelacionExpedientes">
      <soap:operation soapAction="http://tempuri.org/InsertarRelacionExpedientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarRelacionExpedientes">
      <soap:operation soapAction="http://tempuri.org/EliminarRelacionExpedientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearDatoMisTramites">
      <soap:operation soapAction="http://tempuri.org/CrearDatoMisTramites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsociarExpedienteNumeroSilpa">
      <soap:operation soapAction="http://tempuri.org/AsociarExpedienteNumeroSilpa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsociarInfoExpedienteNumeroSilpa">
      <soap:operation soapAction="http://tempuri.org/AsociarInfoExpedienteNumeroSilpa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivatExpedienteNumeroSilpa">
      <soap:operation soapAction="http://tempuri.org/ActivatExpedienteNumeroSilpa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosRadicacion">
      <soap:operation soapAction="http://tempuri.org/ObtenerDocumentosRadicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosNUR">
      <soap:operation soapAction="http://tempuri.org/ObtenerDocumentosNUR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentoRadicacion">
      <soap:operation soapAction="http://tempuri.org/ObtenerDocumentoRadicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPathRadicacion">
      <soap:operation soapAction="http://tempuri.org/ObtenerPathRadicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPathCorrespondencia">
      <soap:operation soapAction="http://tempuri.org/ObtenerPathCorrespondencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDocumentoRadicacion">
      <soap:operation soapAction="http://tempuri.org/EnviarDocumentoRadicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDocumentoRadicacionAlterno">
      <soap:operation soapAction="http://tempuri.org/EnviarDocumentoRadicacionAlterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDocumentoCorrespondencia">
      <soap:operation soapAction="http://tempuri.org/EnviarDocumentoCorrespondencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPQ03Soap12" type="tns:WSPQ03Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecibirDocumento">
      <soap12:operation soapAction="http://tempuri.org/RecibirActoAdministrativoEIA-01" style="document" />
      <wsdl:input name="RecibirActoAdministrativoEIA-01">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RecibirActoAdministrativoEIA-01">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolicitudXml">
      <soap12:operation soapAction="http://tempuri.org/SolicitudXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstructuraFormularioXml">
      <soap12:operation soapAction="http://tempuri.org/EstructuraFormularioXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutoriarActo">
      <soap12:operation soapAction="http://tempuri.org/EjecutoriarActo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmitirDocumento">
      <soap12:operation soapAction="http://tempuri.org/EmitirDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosAdjuntos">
      <soap12:operation soapAction="http://tempuri.org/ObtenerDatosAdjuntos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosRadicacion">
      <soap12:operation soapAction="http://tempuri.org/EnviarDatosRadicacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarRelacionExpedientes">
      <soap12:operation soapAction="http://tempuri.org/InsertarRelacionExpedientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarRelacionExpedientes">
      <soap12:operation soapAction="http://tempuri.org/EliminarRelacionExpedientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearDatoMisTramites">
      <soap12:operation soapAction="http://tempuri.org/CrearDatoMisTramites" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsociarExpedienteNumeroSilpa">
      <soap12:operation soapAction="http://tempuri.org/AsociarExpedienteNumeroSilpa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsociarInfoExpedienteNumeroSilpa">
      <soap12:operation soapAction="http://tempuri.org/AsociarInfoExpedienteNumeroSilpa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivatExpedienteNumeroSilpa">
      <soap12:operation soapAction="http://tempuri.org/ActivatExpedienteNumeroSilpa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosRadicacion">
      <soap12:operation soapAction="http://tempuri.org/ObtenerDocumentosRadicacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosNUR">
      <soap12:operation soapAction="http://tempuri.org/ObtenerDocumentosNUR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentoRadicacion">
      <soap12:operation soapAction="http://tempuri.org/ObtenerDocumentoRadicacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPathRadicacion">
      <soap12:operation soapAction="http://tempuri.org/ObtenerPathRadicacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPathCorrespondencia">
      <soap12:operation soapAction="http://tempuri.org/ObtenerPathCorrespondencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDocumentoRadicacion">
      <soap12:operation soapAction="http://tempuri.org/EnviarDocumentoRadicacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDocumentoRadicacionAlterno">
      <soap12:operation soapAction="http://tempuri.org/EnviarDocumentoRadicacionAlterno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDocumentoCorrespondencia">
      <soap12:operation soapAction="http://tempuri.org/EnviarDocumentoCorrespondencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPQ03HttpGet" type="tns:WSPQ03HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RecibirDocumento">
      <http:operation location="/RecibirActoAdministrativoEIA-01" />
      <wsdl:input name="RecibirActoAdministrativoEIA-01">
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output name="RecibirActoAdministrativoEIA-01">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolicitudXml">
      <http:operation location="/SolicitudXml" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstructuraFormularioXml">
      <http:operation location="/EstructuraFormularioXml" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmitirDocumento">
      <http:operation location="/EmitirDocumento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosAdjuntos">
      <http:operation location="/ObtenerDatosAdjuntos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosRadicacion">
      <http:operation location="/EnviarDatosRadicacion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarRelacionExpedientes">
      <http:operation location="/InsertarRelacionExpedientes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarRelacionExpedientes">
      <http:operation location="/EliminarRelacionExpedientes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearDatoMisTramites">
      <http:operation location="/CrearDatoMisTramites" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivatExpedienteNumeroSilpa">
      <http:operation location="/ActivatExpedienteNumeroSilpa" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosRadicacion">
      <http:operation location="/ObtenerDocumentosRadicacion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosNUR">
      <http:operation location="/ObtenerDocumentosNUR" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentoRadicacion">
      <http:operation location="/ObtenerDocumentoRadicacion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPathRadicacion">
      <http:operation location="/ObtenerPathRadicacion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPathCorrespondencia">
      <http:operation location="/ObtenerPathCorrespondencia" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDocumentoRadicacion">
      <http:operation location="/EnviarDocumentoRadicacion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPQ03HttpPost" type="tns:WSPQ03HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="RecibirDocumento">
      <http:operation location="/RecibirActoAdministrativoEIA-01" />
      <wsdl:input name="RecibirActoAdministrativoEIA-01">
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output name="RecibirActoAdministrativoEIA-01">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolicitudXml">
      <http:operation location="/SolicitudXml" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstructuraFormularioXml">
      <http:operation location="/EstructuraFormularioXml" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmitirDocumento">
      <http:operation location="/EmitirDocumento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosAdjuntos">
      <http:operation location="/ObtenerDatosAdjuntos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDatosRadicacion">
      <http:operation location="/EnviarDatosRadicacion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarRelacionExpedientes">
      <http:operation location="/InsertarRelacionExpedientes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarRelacionExpedientes">
      <http:operation location="/EliminarRelacionExpedientes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearDatoMisTramites">
      <http:operation location="/CrearDatoMisTramites" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivatExpedienteNumeroSilpa">
      <http:operation location="/ActivatExpedienteNumeroSilpa" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosRadicacion">
      <http:operation location="/ObtenerDocumentosRadicacion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosNUR">
      <http:operation location="/ObtenerDocumentosNUR" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentoRadicacion">
      <http:operation location="/ObtenerDocumentoRadicacion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPathRadicacion">
      <http:operation location="/ObtenerPathRadicacion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPathCorrespondencia">
      <http:operation location="/ObtenerPathCorrespondencia" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDocumentoRadicacion">
      <http:operation location="/EnviarDocumentoRadicacion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSPQ03">
    <wsdl:port name="WSPQ03Soap" binding="tns:WSPQ03Soap">
      <soap:address location="http://localhost/silpaserviciosweb/WSPQ03.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPQ03Soap12" binding="tns:WSPQ03Soap12">
      <soap12:address location="http://localhost/silpaserviciosweb/WSPQ03.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPQ03HttpGet" binding="tns:WSPQ03HttpGet">
      <http:address location="http://localhost/silpaserviciosweb/WSPQ03.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPQ03HttpPost" binding="tns:WSPQ03HttpPost">
      <http:address location="http://localhost/silpaserviciosweb/WSPQ03.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>