SILPA.WebHost/App_WebReferences/prueba/WSIMP01.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AdicionarProcesoImpresionFus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idProceso" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdicionarProcesoImpresionFusResponse">
        <s:complexType />
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType />
      </s:element>
      <s:element name="Test2">
        <s:complexType />
      </s:element>
      <s:element name="Test2Response">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AdicionarProcesoImpresionFusSoapIn">
    <wsdl:part name="parameters" element="tns:AdicionarProcesoImpresionFus" />
  </wsdl:message>
  <wsdl:message name="AdicionarProcesoImpresionFusSoapOut">
    <wsdl:part name="parameters" element="tns:AdicionarProcesoImpresionFusResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="Test2SoapIn">
    <wsdl:part name="parameters" element="tns:Test2" />
  </wsdl:message>
  <wsdl:message name="Test2SoapOut">
    <wsdl:part name="parameters" element="tns:Test2Response" />
  </wsdl:message>
  <wsdl:portType name="WSIMP01Soap">
    <wsdl:operation name="AdicionarProcesoImpresionFus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">[Agrega el Id del proceso para su impresion fisica en alguno ubicacion del servidor de aplicaciones o archivos]</wsdl:documentation>
      <wsdl:input message="tns:AdicionarProcesoImpresionFusSoapIn" />
      <wsdl:output message="tns:AdicionarProcesoImpresionFusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio</wsdl:documentation>
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de test del servicio 2</wsdl:documentation>
      <wsdl:input message="tns:Test2SoapIn" />
      <wsdl:output message="tns:Test2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSIMP01Soap" type="tns:WSIMP01Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdicionarProcesoImpresionFus">
      <soap:operation soapAction="http://tempuri.org/AdicionarProcesoImpresionFus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test2">
      <soap:operation soapAction="http://tempuri.org/Test2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSIMP01Soap12" type="tns:WSIMP01Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdicionarProcesoImpresionFus">
      <soap12:operation soapAction="http://tempuri.org/AdicionarProcesoImpresionFus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test2">
      <soap12:operation soapAction="http://tempuri.org/Test2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSIMP01">
    <wsdl:port name="WSIMP01Soap" binding="tns:WSIMP01Soap">
      <soap:address location="http://localhost:63230/SilpaServiciosWeb/WSIMP01.asmx" />
    </wsdl:port>
    <wsdl:port name="WSIMP01Soap12" binding="tns:WSIMP01Soap12">
      <soap12:address location="http://localhost:63230/SilpaServiciosWeb/WSIMP01.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>